.drop_ele{overflow: hidden; position: fixed; background-color: #fff; padding: 0px; top: -100px; left: -100px; z-index: 501;
    box-shadow: #949494 0 5px 9px;
}

.drop_ele._ie7,.drop_ele._ie8{border: 1px solid #949494;}
.drop_ele .item{font-size: 12px; color: #000; background-color: #fff; border-bottom: 1px solid #f0f0f0; text-indent: 6px;}

.drop_ele .item:hover{background-color: #f8f8f8;}

.drop_ele .item:last-child{border-bottom: none;}

.dropdownDiv_mask{position: fixed; z-index: 500; width: 100%; height: 100%; display: none;}