.csele {
  position: absolute;
  top: 0;
  overflow: hidden;
}
.csele img {
  max-width: none;
}
.csele .mainCont {
  position: absolute;
  width: 100%;
  height: 100%;
}
.cslid {
  position: relative;
  overflow: hidden;
}
.scrollEle {
  position: absolute;
}
.scrollEle *[href] {
  cursor: pointer;
}
.ctrlPan {
  font-size: 0;
  position: absolute;
  z-index: 5;
  bottom: 0;
  right: 0;
}
.ctrlPan > a {
  display: inline-block;
  vertical-align: top;
  width: 14px;
  height: 14px;
  background-color: #59C3FF;
  margin: 5px;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.ctrlPan > a:hover {
  cursor: pointer;
  opacity: 1;
  filter: alpha(opacity=100);
}
.ctrlPan > a.cur {
  opacity: 1;
  filter: alpha(opacity=100);
  border: 1px solid #fff;
  width: 12px;
  height: 12px;
}
